.btn {
  display: inline-flex;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  text-decoration: none !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
}
