$primary: #4950F6;
$secondary: #FF5273;
$success: #1ADAB7;
$info: #2F2BC6;
$warning: #DB5D45;
$danger: #FF5273;
$light: #EEF1FA;
$dark: #181743;
$font-family-sans-serif: "Heebo", sans-serif;
$font-family-base: "Heebo", sans-serif;

$theme-colors: ("primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark);
