$primary: #4950F6;
$secondary: #FF5273;
$success: #1ADAB7;
$info: #2F2BC6;
$warning: #DB5D45;
$danger: #FF5273;
$light: #EEF1FA;
$dark: #181743;

$theme-colors: ("primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.form-control {
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #D2DAF0;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #565678;
  max-width: 100%;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 20px;
  padding: 13px 16px;
  height: 48px;
  -moz-box-shadow: none;
  box-shadow: none;

  &::placeholder {
    color: #D2DAF0;
  }
}

html {
  height: 100vh;
}

body, #__next {
  height: 100%;
}
